<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/default_style.css">
</head>
<body>
<header>
    <h3>Matteo Moi - Software Developer</h3>
    <p>
        <a href="https://github.com/Jok98" target="_blank">GitHub</a> |
        <a href="https://www.linkedin.com/in/matteo-moi/" target="_blank">LinkedIn</a>
    </p>
    <div>
        <button onclick="window.location.href='/index.html'">/home</button>
    </div>
</header>
{{ content }}
</body>
</html>