# Default ignored files
/shelf/
/workspace.xml
/copilot.data.migration.agent.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.ask2agent.xml
/copilot.data.migration.edit.xml
/Jok98.github.io.iml
/misc.xml
/modules.xml
/vcs.xml
